In [46]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
r = requests.get("https://www.taoguba.com.cn/moreHotStock")

In [4]:
r.status_code

200

In [5]:
r.encoding

'UTF-8'

In [6]:
soup = BeautifulSoup(r.text, "html.parser")
tables = soup.find_all("table")

def parse_table(table):
    for tr in table.find_all("tr")[1:]:
        tds = tr.find_all("td")
        yield tds[0].string, tds[1].string


def format_table(result):
    codes, names = zip(*result)
    df = pd.DataFrame({"代码": codes, "名称": names})
    df.index += 1
    return df

In [62]:
print(tables[0].parent.parent.parent.find("h2").text)
hs_1 = format_table(list(parse_table(tables[0])))
hs_2 = format_table(list(parse_table(tables[1])))
hs = pd.concat([hs_1, hs_2], axis=0, ignore_index=True)
hs.index += 1
hs

沪深股市

          代码    名称
1   sz002903  宇环数控
2   sh688028   沃尔德
3   sz002201  九鼎新材
4   sz000890   法尔胜
5   sz002952  亚世光电
6   sz300191  潜能恒信
7   sz300708  聚灿光电
8   sh603236  移远通信
9   sh512200   房地产
10  sh512480   半导体
11  sz002559  亚威股份
12  sz300684  中石科技
13  sh603648  畅联股份
14  sh688010  福光股份
15  sh603936  博敏电子
16  sh600183  生益科技
17  sz000049  德赛电池
18  sz300108  吉药控股
19  sz300449  汉邦高科
20  sz300731  科创新源

In [63]:
print(tables[2].parent.parent.find("h2").text)
format_table(list(parse_table(tables[2])))

港股

         代码    名称
1   hk06030  中信证券
2   hk03968  招商银行
3   hk02628  中国人寿
4   hk02318  中国平安
5   hk02601  中国太保
6   hk00941  中国移动
7   hk06837  海通证券
8   hk01336  新华保险
9   hk00833    华讯
10  hk00001    长和

In [64]:
print(tables[3].parent.parent.find("h2").text)
format_table(list(parse_table(tables[3])))

美股

      代码    名称
1   AAPL    苹果
2     JD    京东
3    UMC    联电
4   BABA  阿里巴巴
5   CSCO    思科
6   BIDU    百度
7   GOOG    谷歌
8     WB    微博
9    CHL  中国移动
10  MSFT    微软